paper-card#MainCard
    figure#Logo !{logo}
    neon-animatable.Main-Content
        h2 {{localize('blockedUserPage.text')}}
        .actions
          paper-button#Next(on-click='logout') {{localize('landingPage.btnLogout')}}