iron-ajax#MakeNamespace(method='POST', url='/api/workgroup/create', handle-as='json', on-error='_onCreateNamespaceError', last-response='{{resp}}',
    content-type='application/json', loading='{{submittingWorkgroup}}')
iron-ajax#GetMyNamespace(url='/api/workgroup/exists', handle-as='json', on-error='_onGetNamespaceError')
iron-ajax#CreateDefaultNotebook(method='POST', url='/jupyter/api/namespaces/[[namespaceName]]/createdefault', headers='{"Content-Type": "application/json"}', on-error='_onCreateDefaultNotebookError')
paper-card#MainCard
    figure#Logo !{logo}
    neon-animatable.Main-Content
        template(is='dom-if', if="[[isStatcanEmail]]")
            h2 {{localize('registrationPage.lblWelcome')}}

            p {{localize('landingPage.firstTime')}}
            p {{localize('landingPage.autoNamespace')}}

            md2-input#Email(label="{{localize('landingPage.email')}}", value='{{emailAddress}}', disabled="true")
            md2-input#Namespace(label="{{localize('landingPage.yourNamespace')}}", value='{{namespaceName}}', disabled='true')
            aside {{localize('landingPage.landingDesc')}}
                a(href='https://business-transformation.pages.cloud.statcan.ca/zone/aaw/en/', tabindex='-1', target="_blank") {{localize('landingPage.doc')}}
            .actions
            paper-button#Next(on-click='nextPage') {{localize('registrationPage.btnNext')}}
        template(is='dom-if', if="[[!isStatcanEmail]]")
            h2 {{localize('registrationPage.lblWelcome')}}
            p {{localize('landingPage.wrongEmail', 'email', emailAddress)}}
            .actions
            paper-button#Next(on-click='logout') {{localize('landingPage.btnLogout')}}
paper-toast#ErrorLandingPageToast(duration=0, opened='[[!empty(errorText)]]', on-click='closeError') {{localize(errorText)}}
    strong [[errorDetail]] 
    paper-icon-button(icon='close')