iron-ajax#MakeNamespace(method='POST', url='/api/workgroup/create', handle-as='json', on-error='_onCreateNamespaceError',
    on-response='handleMakeNamespace', content-type='application/json', loading='{{submittingWorkgroup}}')
iron-ajax#GetMyNamespace(url='/api/workgroup/exists', handle-as='json', on-error='_onGetNamespaceError')
iron-ajax#CreateDefaultNotebook(method='POST', url='/jupyter/api/namespaces/[[namespaceName]]/createdefault', 
    headers='{"Content-Type": "application/json"}', on-error='_onCreateDefaultNotebookError')
paper-card#MainCard
    figure#Logo !{logo}
    neon-animatable.Main-Content
        template(is='dom-if', if="[[isStatcanEmail]]")
            h2 {{localize('registrationPage.lblWelcome')}}

            p {{localize('landingPage.firstTime')}}
            p {{localize('landingPage.autoNamespace')}}

            div
                div#emailDisplay.padded
                    strong {{localize('landingPage.email')}}
                    br
                    span {{emailAddress}}
                
                div#namespaceDisplay.padded
                    strong {{localize('landingPage.yourNamespace')}}
                    br
                    span {{namespaceName}}
            p {{localize('landingPage.landingDesc')}}
                a(href$=`{{localize('dashboardView.docItemCommunityChatLink')}}`, tabindex='-1', target="_blank") {{localize('landingPage.doc')}}
            
            template(is='dom-if', if="[[!loading]]")
                paper-button#Next(on-click='nextPage') {{localize('registrationPage.btnNext')}}
            template(is='dom-if', if="[[loading]]")
                .centered
                    paper-spinner-lite(active)
        template(is='dom-if', if="[[!isStatcanEmail]]")
            h2 {{localize('registrationPage.lblWelcome')}}
            p {{localize('landingPage.wrongEmail', 'email', emailAddress)}}
            .actions
            paper-button#Logout(on-click='logout') {{localize('landingPage.btnLogout')}}
paper-toast#ErrorLandingPageToast(duration=0, opened='[[!empty(errorText)]]', on-click='closeError') {{localize(errorText)}}
    template(is='dom-if', if="[[errorDetail]]")
        strong [[errorDetail]]
    paper-icon-button(icon='close')