:host {
  @apply --layout-fit;
  background: white;
  --content-color: #717479;
  --subheading-color: #404447;
  overflow: auto;
  @apply --layout-fit;
}
h1, h2 {
  font-family: Google Sans;
}
h1 {
  color: black;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
  font-size: 1.2em;
  margin: 0;
}
h2 {
  @apply --layout-horizontal;
  @apply --layout-center;
  font-size: 1em;
  margin: .5em 0;
}

#Main-Content {
  padding: 1.3em;
}
.content.small {
  max-width: 640px;
}

.tableDiv{
  margin-bottom: 1.5em;
}

.filersTable{
  border-collapse: collapse;
  border: 1px solid gray;
}

.filersTable th, .filersTable td {
  border: 1px solid gray;
}

th, td{
  padding: 2px;
}

#shareSubmit{
  padding: .5em;
  margin: .5em;
}

paper-toast#FilersErrorToast {
  background: #F44336;
}

paper-toast#FilersSuccessToast {
  background: #198754;
}

.Error{
  color: #F44336
}

label {
  padding: .25em;
}

.formInputDiv {
  margin-bottom: .5em;
}

.formInputDiv label{
  float: left;
}

.formInputDiv span{
  overflow: hidden;
  display: block;
}

.formInputDiv span input{
  width: 95%;
}

.formInputDiv span select{
  width: 97%;
}

.errorDiv{
  background-color: #ff9b9b;
  color: #212324;
}

paper-card {
  border-radius: 5px;
  background-color: aliceblue;
  margin-bottom: .75em;
  width: 80%;
}

.card-icon {
  margin-right: 5px;
}

li:not(:last-child) {
  margin-bottom: 5px;
}