iron-ajax#CreateDefaultNotebook(method='POST', url='/jupyter/api/namespaces/[[namespace]]/createdefault',
    on-response='handleNotebookCreate', on-error='handleNotebookCreateError', handle-as='json', content-type='application/json')  
iron-ajax#GetDefaultNotebook(auto, method='GET', url='/jupyter/api/namespaces/[[namespace]]/defaultnotebook',
    last-response='{{defaultNotebook}}', on-error='handleNotebookFetchError', handle-as='json', content-type='application/json')
template(is='dom-if', if='[[_isNotebookUndefined(defaultNotebook)]]')
    p {{localize('notebookDefaultCard.txtDataLoading')}}
template(is='dom-if', if='[[!_isNotebookUndefined(defaultNotebook)]]')
    template(is='dom-if', if='[[_isNotebookEmpty(defaultNotebook)]]')
        p {{localize('notebookDefaultCard.txtNoDefaultNotebook')}}
        paper-button(on-click='_createDefaultNotebook') {{localize('notebookDefaultCard.create')}}
    template(is='dom-if', if='[[!_isNotebookEmpty(defaultNotebook)]]')
        template(is='dom-if', if='[[!_isNotebookReady(defaultNotebook)]]')
            p {{localize('notebookDefaultCard.txtDefaultNotReady')}}
        template(is='dom-if', if='[[_isNotebookReady(defaultNotebook)]]')
            p {{defaultNotebook.notebook.name}}
            p {{defaultNotebook.notebook.serverType}}
            paper-button(on-click='_detailNotebook') {{localize('notebookDefaultCard.details')}}
            paper-button(on-click='_connectNotebook') {{localize('notebookDefaultCard.connect')}}
    paper-toast#ContribError(duration=5000)
        | {{localize('notebookDefaultCard.errorDefaultNotebookFetch')}}
        strong [[contribError]]
