iron-ajax#GetDefaultNotebook(url='/jupyter/api/namespaces/[[namespace]]/createdefault', handle-as='json', loading='{{loadingDefault}}')
iron-ajax#CreateDefaultNotebook(method='POST', url='/jupyter/api/namespaces/[[namespace]]/createdefault', headers='{"Content-Type": "application/json"}')
paper-card#DefaultNotebookCard
    neon-animatable.Main-Content
        paper-card#DefaultNotebook(
                heading='Default Notebook')
                    p {{localize('landingPage.landingDesc')}
                    paper-icon-button.button(icon='open-in-new',
                        slot='item-icon', alt='[[item.text]]', tabindex=-1)
                    aside {{localize('landingPage.landingDesc')}} 
                        a(href='https://statcan-aaw.slack.com', tabindex='-1', target="_blank") {{localize('landingPage.landingDesc')}
                    .actions
                    paper-button(on-click='_createDefaultNotebook') {{localize('landingPage.landingDesc')}
